.navigation {
    text-align: left;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #8a8a86;
}

.link {
    color:#6d6d64;
    margin: 15px 10px;
    text-decoration: none;
    padding: 15px 15px;
}

.link:visited {
    color:#6d6d64;
    text-decoration: none;
}

.link:hover {
    color:#70c4ff;
    text-decoration: none;
}


.active-link {
    color:#0096FF;
    margin: 15px 10px;
    padding: 15px 15px;
    text-decoration:none;
    border-bottom: 2px solid black;
}

@media only screen and (max-width: 440px) {
    .navigation {
        font-size: 12px;
    }

    .link, .active-link {
        margin: 8px 2px;
        padding: 15px 8px;
    }

}

